<ion-content>
  <ion-card>
    <ion-card-content>
      <form
      [formGroup]="loginForm">
        <ion-grid>
          <ion-row>
            <ion-col>
              <app-input
              type="email"
              label="Email"
              placeholder="jane@doe.com"
              [control]="email"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input
              type="password"
              label="Password"
              placeholder="**************"
              [control]="password"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <a [routerLink]="['/register']">Register</a>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-button
              type="submit"
              color="dark"
              [disabled]="loginForm.invalid"
              value="Login"
              ></app-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>